extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text' placeholder='Name of block' name='title' required='true' value=(undefined===block ? '' : block.title) )
    div.form-group
      label(for='summary') Summary:
      input#summary.form-control(type='textarea' placeholder='Summary' name='summary' value=(undefined===block ? '' : block.summary) required='true')
    div.form-group
      label(for='isbn') ISBN:
      input#isbn.form-control(type='text' placeholder='ISBN13' name='isbn' value=(undefined===block ? '' : block.isbn) required='true') 
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
